@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .hover:hover {
    color: #008cff;
    transition: all 0.4s;
  }

  .navbar__link::after {
    position: absolute;
    content: '';
    background: #008cff;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all .4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }

  .section {
    @apply space-y-5
  }

  .title {
    @apply text-black font-bold text-xl sm:text-2xl lg:text-3xl text-center;
  }

  .text{
    @apply text-black font-medium text-sm lg:text-lg text-center;
  }

  .link{
    @apply text-sky-800 text-sm hover:underline font-medium
  }

  .error-message{
    @apply text-red-600 text-center p-1
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}