@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  body {
    overflow-x: hidden;
  }

  .hover:hover {
    color: #008cff;
    transition: all 0.4s;
  }

  .navbar__link::after {
    position: absolute;
    content: '';
    background: #008cff;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all .4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }

  .title {
    @apply text-gray-800;
  }
  
  .text {
    @apply text-neutral-800;
  }

}