.card-detail {
    transition: all .4s ease;
    background: #eee;
}

.card:hover .card-detail {
    height: 100%;
}

.arrow {
    transition: all 0.2s ease-in;
}

.link:hover .arrow {
    margin-inline-start: 0.7rem;
}